<!DOCTYPE html>
<html>
<head>
    <title>Arveto Vox - <%= category.name %> </title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>😸 Arveto Vox Testing 😸</h1>
    <p>
        Please note thas this page is for backend testing purpose only
        and won't be present in the final website...
    </p>

    <h3> <%= category.name %> </h3>

    <p>
        <%= category.description %>
    </p>

    <h4>Number of articles: <%= articles.length %></h4>

</body>

</html>
