<!DOCTYPE html>
<html>
<head>
    <title>Arveto Vox Testing - Write</title>
    <meta charset="UTF-8">

    <!-- Markdown editor -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<body>
    <h1>😸 Arveto Vox Testing 😸</h1>
    <p>
        Please note thas this page is for backend testing purpose only
        and won't be present in the final website...
    </p>

    <h3>Write your article, fella:</h3>

    <form method="post" action="/write">
        <h4>Titre:</h4>
        <input type="text" name="title" value="Title"/>

        <h4>Category</h4>
        <% for(let i=0; i< categories.length; i++){ %>
            <input type="radio" name="category"
            value=<%= categories[i].id %> checked>
                <%= categories[i].name %>
            <br>
        <%}%>

        <textarea>
        </textarea>
        <script>
        var simplemde = new SimpleMDE();
        </script>
        <input type="hidden" id="article" value=""/>

        <button id="submit">Publish</button>

    </form>

    <button id="showArticle">Show article content in console</button>


</body>

<script src=public/js/write.js"></script>

</html>
