#headline{
    margin-left: 50px;
}

#content{
    display: flex;
    flex-direction: row;
}

#articlesList{
    width: 70%;
}

.article{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 70%;
}

.article:hover{
    background-color: rgb(211, 211, 211);
}

.karmaPlus{
    color: rgb(152, 193, 41);
    font-size: 18px;
    margin-top: 23px;
    margin-left: 10px;
    width: 30px;
}

.karmaMinus{
    color: rgb(224, 6, 46);
    font-size: 18px;
    margin-top: 23px;
    margin-left: 10px;
    width: 30px;
}

.karmaNeutral{
    color: rgb(52, 52, 52);
    font-size: 18px;
    margin-top: 23px;
    margin-left: 10px;
    width: 30px;
}

.articleData{
    margin-top: -12px;
    margin-bottom: 6px;
}

.author{
    margin-top: -15px;
    margin-left: 20px;
}

.title{
    margin-left: 20px;
}

#sidebar{
    background-color: rgb(52, 52, 52);
    color: white;
    border: 4px solid rgb(152, 193, 41);
    border-radius: 10px;
    width: 30%;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
}

#sidebarText{
    text-align: left;
    margin-left: 12px;
    margin-right: 12px;
}

#writeLink{
    color: rgb(152, 193, 41);
}
